.category-view {
  color: white;
}

.category-view:hover {
}

.category-view.active {
  color: white;
  
}


.category-button {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #31006e;
  cursor: pointer;
  display: inline-block;
  border-width: 10px;
  margin-left: 5px;
  margin-top: 5px;
}

.category-button-selected {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #712cc7;
  cursor: pointer;
  display: inline-block;
  border-width: 10px;
  margin-left: 5px;
}

.projects-list-totals {
  display: flex;
  gap: 1rem;
}